* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 6rem 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 400px;
    margin: 0 auto; /* Agregado */
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #007bff;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; /* Actualizado */
    width: 90%;
  }
  
  label {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    color: #555;
  }
  
  input[type="email"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
  }
  
  input[type="email"]:hover {
    cursor: text; /* Agregado */
  }
  
  input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
    transition: border-color 0.3s; /* Agregado */
  }
  
  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  